<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giao diện ghi âm giọng nói</title>
<!--    <link rel="stylesheet" href="style.css">-->
</head>
<body>
    <div class="container">
        <h1>Giao diện ghi âm giọng nói</h1>
        <button id="btn-record">Ghi âm</button>
        <audio id="audio"></audio>
        <p id="prediction"></p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script src="recordrtc.min.js"></script>-->
    <script src="module.js"></script>
</body>
</html>
